<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Add Numbers</h1>
            <div class="mb-3">
                <input type="text" class="form-control" #num>
            </div>
            
            <div class="mb-3">
                <button class="btn btn-info" (click)="getCube(num)">cube</button>
               
            </div>
            <div class="mb-3">
                cube={{cube}}
               
            </div>
            
        </div>
        <div class="col-4"></div>

    </div>
</div>

